<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title> Affichage de la mémoire </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

<!-- Lien Bootstrap -->

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>

<!-- Lien CSS -->
    <link rel="stylesheet" href="{% static 'css/menu-Header.css' %}">

<!-- Lien Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<!-- Lien JQuery -->
    <script src='jquery-3.3.1/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
    

</head>

    <body>

    <!-- Menu  -->

    <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
              <i class="fas fa-bars"></i>
            </a>
        
            <!-- titre - Menu  -->
            <nav id="sidebar" class="sidebar-wrapper">
              <div class="sidebar-content">
                <div class="sidebar-brand">
                  <a href="index.html">	RÉSULTAT UTILISATEUR </a>
                  <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                  </div>
                </div>
        
                <!-- Utilisateur - Menu  -->
                <div class="sidebar-header">
                  <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                      alt="User picture">
                  </div>
                  <div class="user-info">
                    <span class="user-name">Simon
                      <strong>Bunoux</strong>
                    </span>
                    <span class="user-role">Administrator</span>
                    <span class="user-status">
                      <i class="fa fa-circle"></i>
                      <span>Online</span>
                    </span>
                  </div>
                </div>
                
              <!-- Barre de recherche Menu -->
              <div class="sidebar-search">
                <div>
                  <div class="input-group">
                    <input type="text" class="form-control search-menu" placeholder="Search...">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- sidebar-search  -->
              <div class="sidebar-menu">
                <ul>
                  <li class="header-menu">
                    <span>General</span>
                  </li>
                  <li class="sidebar-dropdown">
                    <a href="/exploitationScriptsAudit/upload_Resultats_Scripts">
                      <i class="fa fa-folder"></i>
                      <span>Upload Fichier</span>
                    </a>
                    <div class="sidebar-submenu">
                      <ul>
                        <li>
                          <a href="#">Computer Name
                          </a>
                        </li>
                        <li>
                          <a href="#">Dashboard 2</a>
                        </li>
                        <li>
                          <a href="#">Dashboard 3</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="sidebar-dropdown">
                    <a href="/exploitationScriptsAudit/affichage_data">
                      <i class="fa fa-tachometer-alt"></i>
                      <span>Ordinateur</span>
                      <span class="badge badge-pill badge-danger">3</span>
                    </a>
                    <div class="sidebar-submenu">
                      <ul>
                        <li>
                          <a href="#">Products
        
                          </a>
                        </li>
                        <li>
                          <a href="#">Orders</a>
                        </li>
                        <li>
                          <a href="#">Credit cart</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="sidebar-dropdown">
                    <a href="#">
                      <i class="far fa-gem"></i>
                      <span>Solftware</span>
                    </a>
                    <div class="sidebar-submenu">
                      <ul>
                        <li>
                          <a href="#">General</a>
                        </li>
                        <li>
                          <a href="#">Panels</a>
                        </li>
                        <li>
                          <a href="#">Tables</a>
                        </li>
                        <li>
                          <a href="#">Icons</a>
                        </li>
                        <li>
                          <a href="#">Forms</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="sidebar-dropdown">
                    <a href="memoire.html">
                      <i class="fa fa-chart-line"></i>
                      <span>Sécurité</span>
                    </a>
                    <div class="sidebar-submenu">
                      <ul>
                        <li>
                          <a href="#">Pie chart</a>
                        </li>
                        <li>
                          <a href="#">Line chart</a>
                        </li>
                        <li>
                          <a href="#">Bar chart</a>
                        </li>
                        <li>
                          <a href="#">Histogram</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="sidebar-dropdown">
                    <a href="#">
                      <i class="fa fa-globe"></i>
                      <span>Software Update</span>
                    </a>
                    <div class="sidebar-submenu">
                      <ul>
                        <li>
                          <a href="#">Google maps</a>
                        </li>
                        <li>
                          <a href="#">Open street map</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="header-menu">
                    <span>Extra</span>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-book"></i>
                      <span>Système d'exploitation</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                        <i class="fa fa-book"></i>
                        <span>Programme installé</span>
                      </a>
                    </li>
                    <li>
                      <a href="utilisateur.html">
                          <i class="fa fa-book"></i>
                          <span>Utilisateur</span>
                        </a>
                      </li>
                    <li>
                    <a href="#">
                      <i class="fa fa-calendar"></i>
                      <span>Sécurité</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-tachometer-alt"></i>
                      <span>Disque physique</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- fin sidebar-menu  -->
            </div>
        
            <!-- sidebar-content déconnection -->
            <div class="sidebar-footer">
              <a href="accueil.html">
                <i class="fa fa-power-off"></i>
              </a>
            </div>
        </nav>

{% block content %}{% endblock %}

<!-- page-wrapper -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>

{% load static %}
<script src="{% static "js/index.js" %}"></script>

</body>
</html>